%btn-shared{
  font-size: 18px;
  height: 49px;
  padding: 0 20px;
  border: none;
  background: none;
  margin: 0 5px;
  border-radius: 9px;
}
$primary-color:#FF6600;
@mixin row2-shared{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: site-main-font;
  src: url("../fonts/AgeoPersonalUse-Medium.otf");

}
.body{
  font-family: site-main-font sans-serif;

}
.container{
  max-width: 1200px;
 margin: 0 auto;
}
.row{
@include row2-shared;
}
.align-item-center{
  align-items: center;
}
.btn-primary{
  @extend %btn-shared;
  background-color:$primary-color;
  color:white;
}
.btn-text{
 @extend %btn-shared;
  border-bottom: 1px solid $primary-color;

}