@use "base" as *;

header{
padding: 50px 0;
  width:100%;


}
.header-row{
  @include row2-shared;
  justify-content: space-between;
  padding: 0 10px;
}
.logo{
  width:240px;
  height:49px;
  object-fit:contain;
}
.menu{
  @include row2-shared;

  li{
    list-style:none;
  }
  a{
    padding:10px;
    text-decoration:none;
    font-size:18px;
    color: rgba(255, 255, 255, 0.09);
  }
}
.burger-bar{
display: none;
  object-fit: contain;
}
.nav-row{
  @include row2-shared;
  align-items: center;

}
.close-menu{
  display: none;
}
.text-field{
  width: 50%;

}
.text-title{
  font-size:70px;
}
.title{
  font-size:20px;
}
.img-fluid{
  width: 50%;
}
.py-2{
  padding:20px 0;
}
.icons-card{
  width: 50px;
  height: 50px;
  object-fit: contain;

}
.text-small{
  font-size:24px;
  text-transform: uppercase;
  color: rgb(145, 145, 128);
}
.align-center{
  text-align: center;
}
.text-medium{
  font-size:30px;
  padding: 25px ;
}
.img-box{
  padding:10px 0;
  width: 46px;
  height: 76px;
  margin:auto;


}
.my-5{
  padding:50px 0;
}
.graphic-card{
  padding:10px;
  width: 400px;
  height: 508px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title-small{
  font-size:30px;
  margin:25px;
}
.md-2{
  margin-top:20px;
}

.text-file{
  width:30%;
  padding:10px;

}
.text-2{
  font-size:22px;


}
.title-grey{

  font-size:16px;
color:rgba(21, 20, 57, 0.4)
}
.btn-secondary{
  width: 130px;
  height: 40px;
  color:rgba(21, 20, 57, 0.4)
}
.radius-4x{
  border-radius:20px;
}
.card-image{
  width:800px;
  height:300px;
  object-fit: cover;
}
.md-5{
padding:10px 0;
  margin:  40px 10px;
}
.text-main {
  width:50%;

}
.text-mov{
  margin:30px ;
  width: 35%;
}
.img-server{
  width: 70px;
  height: 70px;

}
.img-main{
  width:30%;
  height:140px;
  object-fit: contain;
}
.text-2{
  font-size:14px;
  margin:5px;

}
.team-member{

border:2px solid #cfcccc;
  img{
display: block;
    margin:5px auto;

  }
}
.text-input{
  width:600px;
  height:70px;


}
.text-button{
  @extend %btn-shared;
  width:600px;
  height:40px;
  background-color:$primary-color;
  color:white;

}
.text-7{
  font-size:18px;
}