@use "base" as *;

header{
padding: 50px 0;
  width:100%;


}
.header-row{
  @include row2-shared;
  justify-content: space-between;
  padding: 0 10px;
}
.logo{
  width:240px;
  height:49px;
  object-fit:contain;
}
.menu{
  @include row2-shared;

  li{
    list-style:none;
  }
  a{
    padding:10px;
    text-decoration:none;
    font-size:18px;
    color: rgba(255, 255, 255, 0.09);
  }
}
.burger-bar{
display: none;
  object-fit: contain;
}
.nav-row{
  @include row2-shared;
  align-items: center;

}