@media (max-width: 850px) {
  .burger-bar {
    display: block;
  }
  nav {
    //display: none;
    position: fixed;
    height: 100%;
    width: 90%;
    background: black;
    color: white;
    left: 0;
    top: 0;

  }
  .menu{
    flex-direction: column;
  }

  a{
    color: white;!important;
  }
}
