@media (max-width: 850px) {
  .burger-bar {
    display: block;
  }
  nav {
    //display: none;
    position: fixed;
    height: 100%;
    width: 90%;
    background: black;
    color: white;
    left: 0;
    top: 0;

  }
  .menu{
    flex-direction: column;
    padding: 15px;


  a{
    color: white;
    font-size: 78px;
  }

}

.nav-row{
align-items: center;
 flex-direction: column;

  .btn-text{
    color: white;

  }
}
}